dist
build
coverage
.husky
.huskyrc
*.lockb

*.png
*.jpg
*.jpeg
*.webp
*.ico

.gitignore
.prettierignore
LICENSE


.next
.cache
package-lock.json
public
node_modules
next-env.d.ts
next.config.ts
yarn.lock